* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark-teal);
  color: white;
  font-family: "Montserrat", sans-serif;
}

html{
    font-size: 62.5%;
    max-width: 100%;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}


a{
    color: white;
    text-decoration: none;
}

:root {
    --color-dark-teal: #093545;
    --color-darker-teal : #092C39;
    --color-green-button: #38C172;
    --color-text-white: white;
    --input-color : #224957;
    --Error-color : #EB5757;
    --color-heighlight : #1E424E;
    --load-button : #1a5432;
}

.page-layout{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}